In [3]:
from tqdm import tqdm_notebook as tqdm # Module for tracking progress. conda install -c conda-forge tqdm
import json
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
import json

df = pd.read_csv (r'C:\Users\Saxen\Documents\Polit\Social Data Science\Slides\Trustpilot\Trustpilot_data.csv')

df.head()

,Unnamed: 0,website,name,review,rating
0,0,SAXO.COM,Rasmus,Uproblematisk og hurtig levering.,5 stjerner: Fremragende
1,1,SAXO.COM,Dan Jensen,God service...,5 stjerner: Fremragende
2,2,SAXO.COM,Rikke,Super fint. Hurtig levering,5 stjerner: Fremragende
3,3,SAXO.COM,jens haase,spændende plot,5 stjerner: Fremragende
4,4,SAXO.COM,Winnie Ankerdal,Hurtig sikker betjening,5 stjerner: Fremragende

In [4]:
df['rating_n'] = df['rating'].str.extract('(\d+)')

In [5]:
df_cc = pd.DataFrame(df.name.str.split(' ',1).tolist(), columns = ['first_name','surname'])

df['first_name'] = df_cc['first_name']
df['surname'] = df_cc['surname']
df.head()
column_names =['website', 'first_name', 'surname', 'name', 'review', 'rating', 'rating_n']
df=df[column_names]
df.head()

,website,first_name,surname,name,review,rating,rating_n
0,SAXO.COM,Rasmus,None,Rasmus,Uproblematisk og hurtig levering.,5 stjerner: Fremragende,5
1,SAXO.COM,Dan,Jensen,Dan Jensen,God service...,5 stjerner: Fremragende,5
2,SAXO.COM,Rikke,None,Rikke,Super fint. Hurtig levering,5 stjerner: Fremragende,5
3,SAXO.COM,jens,haase,jens haase,spændende plot,5 stjerner: Fremragende,5
4,SAXO.COM,Winnie,Ankerdal,Winnie Ankerdal,Hurtig sikker betjening,5 stjerner: Fremragende,5

In [6]:
df['first_name'] = df['first_name'].str.lower()

C:\Users\Saxen\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [7]:
df_names = pd.read_excel (r'/Users/Saxen/Documents/Polit/Social Data Science/Slides/Trustpilot/Navne.xlsx')
# d for dreng, p for pige og u for unisex

In [8]:
df_names['first_name'] = df_names['first_name'].str.lower()

In [9]:
df_names2 = pd.merge(df, df_names, on='first_name', how='left')

In [10]:
#FInds the number og male and female names
print('Males: ' + str(sum(df_names2.Gender == 'd')),'\n', 'Females: ' + str(sum(df_names2.Gender == 'p')))

Males: 4562
 Females: 5052

In [11]:
df_names2.count()

website       11259
first_name    11259
surname        7929
name          11259
review        11259
rating        11259
rating_n      11259
Gender        10243
dtype: int64

In [12]:
df_names2.head()
del df_names2['rating']

,website,first_name,surname,name,review,rating,rating_n,Gender
0,SAXO.COM,rasmus,None,Rasmus,Uproblematisk og hurtig levering.,5 stjerner: Fremragende,5,d
1,SAXO.COM,dan,Jensen,Dan Jensen,God service...,5 stjerner: Fremragende,5,d
2,SAXO.COM,dan,Jensen,Dan Jensen,God service...,5 stjerner: Fremragende,5,p
3,SAXO.COM,dan,Jensen,Dan Jensen,God service...,5 stjerner: Fremragende,5,u
4,SAXO.COM,rikke,None,Rikke,Super fint. Hurtig levering,5 stjerner: Fremragende,5,p